.mainContainer{
    display: flex;
    flex-direction: row;
}

.large-textarea {
    width: 400px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
  }
  

  input[type="text"] {
    width: 400px;
    height: 30px;
  }

.RightColumn{
    margin-left: 200px;
}

.Old{
    margin-top: 50px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 2px;
}

.drop{
    width: 400px;
    height: 30px;
}

h1{
    font-weight: normal;
}