*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.contenedor1{
    display:flex;
    justify-content: center;
    gap: 200px;
    margin: 20px;
    align-items: center;
}

.datos{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imglogin{
    height: 600px;
    width: 90%;
}

.titulosignup{
    margin-top: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #4E4E4E;
}

hr {
    width:65%;
    margin:0 auto;
}

.forms{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.name, .lastname, .correo, .contrasena, .tipoUser, .numTelefono{
    padding: 5px;
    width: 380px;
    height:40px;
    border-radius: 6px;
    border-color: #D2D2D2;
    color: #4E4E4E;
}

.telefono{
    display: flex;
}

.botonIrHome{
    border: none;
    transition-duration: 0.1s;
    color: white;
    background-color: green;
    border-radius: 18px;
    outline: none;
    font-size: 25px;
    padding: 11px 50px;
    margin-top: 20px;
}


.botonIrHome:hover{
    background-color: rgb(114, 194, 114); 
    color: white;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#4E4E4E;
    gap:7px;
}

.tab1, .tab2 {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.react-tabs__tab-list {
    list-style: none; /* Quitar bullets */
    display: flex; /* Poner en línea */
    font-size: 18px; /* Aumenta el tamaño de la letra */
    justify-content: center; /* Centrar las pestañas */
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ddd; /* Línea sutil debajo */
}

.react-tabs__tab {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    border: none;
    background: none; /* Elimina el fondo */
    transition: color 0.3s;
}

.react-tabs__tab--selected {
    color: black; /* Color al estar seleccionado */
    font-weight: bold;
    border-bottom: 3px solid black; /* Línea inferior resaltada */
    outline: none; /* Elimina el borde al seleccionar */
}
