* {
    font-family: sans-serif;
    box-sizing: border-box; 
}

.contenedor1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px;
    align-items: start; 
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%; 
}

.tabsContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.tabsPanel2, .tabsPanel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto{
    height: 100%;
    object-fit: cover;
    width: 50%;    
}

.imglogin {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.titulosignup {
    margin-top: 20px;
    font-size: 48px;
    font-weight: bold;
    color: #4E4E4E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    width: 65%;
    margin: 0 auto;
}

.forms {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border: none;
}

.formNombre, .formApellido, .formCorreo, .formContrasena, .formTelefono, .tipoUsuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameS, .lastnameS, .correo, .contrasena, .tipoUser , .numTelefonoS {
    padding: 5px;
    width: 380px;
    height: 40px;
    border-radius: 6px;
    border-color: #D2D2D2;
    color: #4E4E4E;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}

.nameS:focus, .lastnameS:focus, .correo:focus, .contrasena:focus, .tipo:User focus, .numTelefonoS:focus {
    border-color: #A9A9A9;
}

.instrucContrasena {
    font-size: 12px;
    font-style: italic;
}

.botonIrHome {
    border: none;
    transition-duration: 0.1s;
    color: white;
    background-color: green;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    padding: 11px 50px;
    margin-top: 40px;
    min-width: 240px;
    cursor: pointer;
}

.botonIrHome:hover {
    background-color: rgb(114, 194, 114);
    color: white;
    cursor: pointer;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #4E4E4E;
    gap: 7px;
    margin-top: 40px;
}

.tab1, .tab2 {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #4E4E4E;
}

.react-tabs__tab-list {
    list-style: none;
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ddd;
    gap: 20px;
}

.react-tabs__tab {
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    border: none;
    background: none;
    transition: color 0.3s;
}

.react-tabs__tab--selected {
    color: rgba(80, 80, 80, 0.8);
    font-weight: bold;
    border-bottom: 3px solid rgba(155, 155, 155, 0.6);
    outline: none;
}

.google1, .google2 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-style: none;
    min-width: 240px;
    font-size: 14px;
    color: #4E4E4E;
    background-color: #f6f6f6;
    cursor: pointer;
}

.google1:hover, .google2:hover {
    background-color: #ffffff;
    color: #4E4E4E;
    cursor: pointer;
}

.imgGoogle {
    width: 30px;
    margin-top: 0px;
}

.divisorGoogle {
    display: flex;
    width: 65%;
    align-items: center;
    margin-top: 30px;
}

.linea {
    flex-grow: 1;
    border-bottom: 1px solid rgb(184, 177, 177);
    margin: 0 10px;
}

.letraDivider {
    color: rgb(184, 177, 177);
}


@media (max-width: 768px) {
    .datos {
        min-width: auto; 
        width: 50%; 
    }

    .foto{
        width: 100%;    
    }

    .imglogin {
        width: 100%; 
        height: auto; 
    }

    .titulosignup {
        font-size: 36px; 
    }

    .nameS, .lastnameS, .correo, .contrasena, .tipoUser , .numTelefonoS {
        width: 100%; 
    }

    .botonIrHome {
        width: 100%; 
        min-width: auto; 
    }

    .google1, .google2 {
        width: 100%; 
        min-width: auto; 
    }

    .divisorGoogle {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .titulosignup {
        font-size: 28px; 
    }

    .foto{
        width: 100%;    
    }
    .tab1, .tab2 {
        font-size: 16px; 
    }

    .react-tabs__tab {
        font-size: 14px; 
    }

    .nameS, .lastnameS, .correo, .contrasena, .tipoUser , .numTelefonoS {
        height: 35px;
    }

    .botonIrHome {
        padding: 10px; 
    }

    .google1, .google2 {
        padding: 10px; 
    }
    .contenedor1{
        flex-wrap: wrap;
    }
}