*{
    color: #4B4949;
}

.tituloForo{
    font-size: 50px;
    font-weight: bold;
    margin-left: 100px;

}

.contenedorForo{
    display:flex;
    justify-content: center;
    align-items: center;
}

.contenedorComentarios{
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 1300px;
    padding:15px; 
    display:flex;
    flex-direction: column;
    gap:15px;
    margin-bottom: 50px;
}

.comentario{
    display:flex;
    gap:20px;
    justify-content:left;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding:10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.nombreYComentario{
    display:flex;
    flex-direction: column;
}

.imgPerfilForo{
    border-radius: 100%;
}

.nombreForo{
    font-weight: bold;
}